* {
    border: solid 1px ghostwhite;
    margin: 0px;
}

body {
    background-color: azure;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: goldenrod;
}

.headerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.headerLink {
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.titleBox {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeTitle {
    color: black;
}

.cardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.card {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}